/*
 * Device tree for HPSC Chiplet
 */

/dts-v1/;

#define HPPS_IRQ__HPPS_UART0_0                   1

// See Table 2-2 in ARM GIC Spec for recommended assignment,
// and note that PPI ID = INTID - GIC_NR_SGIS = INTID-16
#define PPI_IRQ__TIMER_HYP                      10
#define PPI_IRQ__TIMER_VIRT                     11
#define PPI_IRQ__TIMER_SEC                      13
#define PPI_IRQ__TIMER_PHYS                     14

#define GIC_SPI 0
#define GIC_PPI 1
#define GIC_EDGE_RISE 1
#define GIC_EDGE_FALL 2
#define GIC_EDGE_BOTH 3
#define GIC_LVL_HI 4
#define GIC_LVL_LO 8

/ {
	model = "HPSC Chiplet";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:125000n8";
	};

	memory@0 {
		device_type = "memory";
		reg = 
			/* DDR Low: 1 Gb */
			/* Segments base:size (commented regions are not exposed to U-boot/Linux by U-boot DT): */
			/*  <0x00 0x80000000 0x00 0x00200000> ATF */
			/*  <0x00 0x80020000 0x00 0x001e0000> padding to align for Linux; boot images */
			    <0x00 0x80200000 0x00 0x07000000> /* mem available to U-boot/Linux; boot images */
			/* ,<0x00 0x87200000 0x00 0x00400000> ramoops */
			/* ,<0x00 0x87600000 0x00 0x00800000> inter-subsystem shared memory regions */
			/* ,<0x00 0x87e00000 0x00 0x00200000> TRCH reservations (MMU PTs, test, etc) */
			   ,<0x00 0x88000000 0x00 0x38000000> /* remaining DDR low for Linux to use */
			/* ,DDR High: one of the following possible sizes */
			/*  <0x01 0x00000000 0x00 0x00020000     /* RT MMU test */
			/*  <0x01 0x00020000 0x00 0x00010000     /* TRCH RapidIO driver buffers */
			/*  <0x01 0x00030000 0x00 0x00020000     /* TRCH RapidIO test buffers */
			   ,<0x01 0x00040000 0x00 0xfffb0000>    /* DDR HIGH 1: available to Linux (4G - the above) */
			/* ,<0x02 0x00000000 0x01 0x00000000> */ /* DDR HIGH ?:  4G */
			/*  |0x02 0x00000000 0x00 0x40000000     /* general-purpose buf (marked reserved in Linux) */
			/* ,<0x08 0x00000000 0x08 0x00000000> */ /* DDR HIGH 2: 32G */
			/* ,<0x10 0x00000000 0x10 0x00000000> */ /* DDR HIGH 3: 64G */
			;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		/* U-boot used in non-SMP mode, so define only CPU 0 */
		cpu@0 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI PPI_IRQ__TIMER_SEC  GIC_LVL_LO>,
			     <GIC_PPI PPI_IRQ__TIMER_PHYS GIC_LVL_LO>,
			     <GIC_PPI PPI_IRQ__TIMER_VIRT GIC_LVL_LO>,
			     <GIC_PPI PPI_IRQ__TIMER_HYP  GIC_LVL_LO>;
	};

	amba: amba {
		compatible = "simple-bus";
		u-boot,dm-pre-reloc;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		gic: interrupt-controller@f9000000 {
			compatible = "arm,gic-v3"; 
			#interrupt-cells = <3>;
			reg = <0x0 0xf9000000 0x0 0x20000>,
			      <0x0 0xf9100000 0x0 0x100000>;
			interrupt-controller;
		};

		uart0: serial@f92c0000 {
			compatible = "snps,dw-apb-uart";
			status = "okay";
			/* the driver polls; this interrupt is unused. */
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI HPPS_IRQ__HPPS_UART0_0 GIC_LVL_HI>;
			reg = <0x0 0xf92c0000 0x0 0x1000>;
			current-speed = <125000>;
			reg-offset = <0>;
			reg-shift = <2>; /* register width: 4-byte = 32-bit */
			clocks = <&uart_clk &uart_clk>;
			clock-names = "uart_clk", "pclk";
		};
	};

	uart_clk: uart_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <16000000>;
		u-boot,dm-pre-reloc;
	};
};
