CONFIG_ARM=y
CONFIG_ARM64=n
CONFIG_ARCH_HPSC_RTPS_R52=y

CONFIG_IDENT_STRING=" HPSC RTPS R52 "
CONFIG_SYS_PROMPT="RTPS R52> "
CONFIG_DEFAULT_DEVICE_TREE="hpsc-rtps-r52"

CONFIG_SYS_TEXT_BASE=0x60000000

CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="bootelf 0x68000000"

CONFIG_ZYNQ_SERIAL=y
CONFIG_DEBUG_UART_ZYNQ=y
CONFIG_DEBUG_UART_BASE=0x30001000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_DEBUG_UART=y

CONFIG_OF_EMBED=y
CONFIG_SYS_ARCH_TIMER=y

CONFIG_DISPLAY_CPUINFO=n
CONFIG_CMD_XIMG=n
CONFIG_CMD_BOOTEFI=n
CONFIG_NET=n
