CONFIG_ARM=y
CONFIG_ARM64=y
CONFIG_ARCH_HPSC_RTPS_A53=y

CONFIG_IDENT_STRING=" HPSC RTPS A53"
CONFIG_SYS_PROMPT="RTPS A53> "
CONFIG_DEFAULT_DEVICE_TREE="hpsc-rtps-a53"

CONFIG_SYS_TEXT_BASE=0x60020000

# CONFIG_USE_BOOTCOMMAND is not set

CONFIG_SYS_NS16550=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_BASE=0x30001000
CONFIG_DEBUG_UART_CLOCK=16000000
CONFIG_BAUDRATE=500000

CONFIG_HUSH_PARSER=y
CONFIG_OF_EMBED=y

CONFIG_ENV_IS_IN_NVRAM=y
CONFIG_ENV_ADDR=0x6005f000
CONFIG_ENV_SIZE=0x1000

# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_NET is not set
