CONFIG_ARM=y
CONFIG_ARM64=y
CONFIG_ARCH_HPSC_RTPS_A53=y

CONFIG_IDENT_STRING=" HPSC RTPS A53"
CONFIG_SYS_PROMPT="RTPS A53> "
CONFIG_DEFAULT_DEVICE_TREE="hpsc-rtps-a53"

CONFIG_SYS_TEXT_BASE=0x78000000

#CONFIG_BOOT_MODE_IN_RAM=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run $modeboot || run distro_bootcmd"

CONFIG_SYS_NS16550=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_BASE=0x30001000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_BAUDRATE=115200

CONFIG_HUSH_PARSER=y
CONFIG_OF_EMBED=y

CONFIG_DISPLAY_CPUINFO=n
CONFIG_CMD_XIMG=n
CONFIG_CMD_BOOTEFI=n
CONFIG_NET=n
