CONFIG_ARM=y
CONFIG_ARM64=y
CONFIG_ARCH_HPSC_HPPS=y

CONFIG_IDENT_STRING=" HPSC HPPS "
CONFIG_SYS_PROMPT="HPPS> "
CONFIG_DEFAULT_DEVICE_TREE="hpsc-hpps"

CONFIG_SYS_TEXT_BASE=0x80020000

CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run $memboot"
CONFIG_BOOTDELAY=0

CONFIG_SYS_NS16550=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_BASE=0xF92C0000
CONFIG_DEBUG_UART_CLOCK=16000000
CONFIG_BAUDRATE=500000

CONFIG_HUSH_PARSER=y
CONFIG_OF_SEPARATE=y

CONFIG_ENV_IS_IN_NVRAM=y
CONFIG_ENV_ADDR=0x8005f000
CONFIG_ENV_SIZE=0x1000

# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_NET is not set
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
