CONFIG_ARM=y
CONFIG_ARM64=y
CONFIG_ARCH_HPSC_HPPS=y

CONFIG_IDENT_STRING=" HPSC HPPS "
CONFIG_SYS_PROMPT="HPPS> "
CONFIG_DEFAULT_DEVICE_TREE="hpsc-hpps"

CONFIG_SYS_TEXT_BASE=0x80020000

CONFIG_BOOT_MODE_IN_RAM=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run $modeboot || run distro_bootcmd"

CONFIG_ZYNQ_SERIAL=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ZYNQ=y
CONFIG_DEBUG_UART_BASE=0xF92C0000
CONFIG_DEBUG_UART_CLOCK=100000000

CONFIG_HUSH_PARSER=y
CONFIG_OF_EMBED=y

CONFIG_DISPLAY_CPUINFO=n
CONFIG_CMD_XIMG=n
CONFIG_CMD_BOOTEFI=n
CONFIG_NET=n
